name: mpv
defaults:
  run:
    shell: bash

permissions:
  actions: write
  attestations: write
  contents: write

on: 
  workflow_dispatch:
    inputs:
      release:
        description: "Publish a release"
        required: false
        default: true
        type: boolean

jobs:
  build_mpv:
    name: Build mpv
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y nasm libmimalloc-dev
          pip install --user meson rst2pdf
          rustup update
          rustup target add x86_64-pc-windows-gnullvm
      - name: Setup git config
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global pull.rebase true
          git config --global rebase.autoStash true
          git config --global fetch.prune true
      - uses: actions/checkout@v6
      - name: Checkout build
        uses: actions/checkout@v6
        with:
          repository: shinchiro/mpv-winbuild-cmake
          path: mpv-winbuild-cmake
          fetch-depth: 0
      - name: Applying patch
        run: |
          cd mpv-winbuild-cmake
          if [[ "$(ls -A ../patch/*.patch)" ]]; then
            for patch in ../patch/*.patch ; do
              git am --3way "$patch" || git am --abort
            done
          fi
      - name: Install LLVM based MinGW toolchain
        id: install_llvm-mingw
        run: |
          cd mpv-winbuild-cmake
          mkdir -p build/install
          url=$(curl -L \
                     -H "Accept: application/vnd.github+json" \
                     -H "X-GitHub-Api-Version: 2022-11-28" \
                     https://api.github.com/repos/mstorsjo/llvm-mingw/releases/latest \
                     | jq -r '.assets[] | select(.browser_download_url | match("ucrt-ubuntu.*x86_64")) | .browser_download_url')
          curl -Lo - $url | tar -xJf - -C $PWD/build/install --strip-components=1 --exclude "aarch64*" --exclude "arm64ec*" --exclude "armv7*"
      - name: Build
        id: build
        run: |
          cd mpv-winbuild-cmake
          mkdir -p release

          cmake -Wno-dev --fresh -DTARGET_ARCH=x86_64-w64-mingw32 -DCOMPILER_TOOLCHAIN=clang -DCMAKE_INSTALL_PREFIX=$PWD/build/install -DMINGW_INSTALL_PREFIX=$PWD/build/install/x86_64-w64-mingw32 -DCLANG_PACKAGES_LTO=ON -DSINGLE_SOURCE_LOCATION=$PWD/src_packages -DRUSTUP_LOCATION=$HOME -G Ninja -B $PWD/build -S $PWD

          ninja -C $PWD/build download || true
          ninja -C $PWD/build update
          ninja -C $PWD/build mpv-fullclean
          ninja -C $PWD/build mpv
          if [ -n "$(find $PWD/build -maxdepth 1 -type d -name "mpv*" -print -quit)" ] ; then
              echo "Successfully compiled mpv. Continue"
          else
              echo "Failed compiled mpv. Stop"
              exit 1
          fi

          mv $PWD/build/mpv* $PWD/release
          cd $PWD/release
          for dir in ./mpv*; do
              if [ -d $dir ]; then
                  7z a -m0=lzma2 -mx=9 -ms=on mpv.7z $dir/* -x!*.7z
                  rm -rf $dir
              fi
          done
      - name: Collect logs
        if: ${{ always() }}
        run: |
          sudo 7z a logs.7z $(find mpv-winbuild-cmake/build -type f -iname "*-*.log" -or -wholename "*/ffbuild/config.log")
      - name: Upload logs
        uses: actions/upload-artifact@v5
        if: ${{ always() }}
        with:
          name: logs
          path: logs.7z
      - name: Upload mpv
        uses: actions/upload-artifact@v5
        with:
          name: mpv
          path: mpv-winbuild-cmake/release/mpv.7z
      - name: Job summary
        uses: actions/github-script@v8
        continue-on-error: true
        if: ${{ always() }}
        with:
          script: |
            const path = require('path');
            const { readdirSync,existsSync } = require('fs');
            const myExec = async (command, args = null) => await exec.getExecOutput(command,args,{silent: true}).then(result => result.stdout.trim()).catch(err => '');
            
            const upstreamDir = path.resolve("mpv-winbuild-cmake");
            const workdir = path.resolve(upstreamDir,"src_packages");
            const isGitSync = dirname => existsSync(path.join(workdir, dirname, '.git'));
            
            const getGithubUrl = (hash,remote) => remote.replace(/\.git$/,"") + `/commit/${hash}`;
            const getGitlabUrl = (hash,remote) => remote.replace(/\.git$/,"") + `/-/commit/${hash}`;
            const getBitbucketUrl = (hash,remote) => remote.replace(/\.git$/,"") + `/commits/${hash}`;
            const getGoogleSourceUrl = (hash,remote) => remote + `/+/${hash}`;            
            const gethGitVideolanUrl = (hash,remote) => remote.replace(/\/git\//,"/?p=") + `;a=commit;h=${hash}`;
            const getCgitUrl = (hash,remote) => remote + `/commit/?id=${hash}`;
            const getCodebergUrl = (hash,remote) => remote.replace(/\.git$/,"") + `/commit/${hash}`;
            function getCommitUrl(hash,remote) {
                let url = "";
                switch (true) {
                  case /github\.com/.test(remote):
                    url = getGithubUrl(hash,remote);
                    break;
                  case /(gitlab\.com|code\.videolan\.org|gitlab\.(gnome|freedesktop)\.org)/.test(remote):
                    url = getGitlabUrl(hash,remote);
                    break;
                  case /bitbucket\.org/.test(remote):
                    url = getBitbucketUrl(hash,remote);
                    break;
                  case /googlesource\.com/.test(remote):
                    url = getGoogleSourceUrl(hash,remote);
                    break;
                  case /git\.videolan\.org/.test(remote):
                    url = gethGitVideolanUrl(hash,remote);
                    break;
                  case /git\.libssh\.org/.test(remote):
                    url = getCgitUrl(hash,remote);
                    break;
                  case /codeberg\.org/.test(remote):
                    url = getCodebergUrl(hash,remote);
                    break;
                  default:
                    url = remote;
                    break;
                }
                return url;
            }
            async function repo_info(dir){
              let local_hash = await myExec(`git -C ${dir} rev-parse --short=7 HEAD`);
              let remote_branch = await myExec(`git -C ${dir} rev-parse --abbrev-ref HEAD@{upstream}`);
              let remote_hash = await myExec(`git -C ${dir} rev-parse ${remote_branch}`);
              let status = await myExec(`git -C ${dir} status -sb`).then(s => s.split("\n",1)[0].replace(/^## */,""));
              let remote = await myExec(`git -C ${dir} config --get remote.origin.url`);
              return [local_hash, remote_hash, status, remote]
            }
            
            async function generateGitInfoTable(targetDir){
              const dirs = readdirSync(targetDir, { withFileTypes: true })
                .filter(dirent => dirent.isDirectory() && isGitSync(dirent.name) )
                .map(dirent => path.join(targetDir, dirent.name));
              let info_table = [[{data: 'Package', header: true}, {data: 'Local commit', header: true}, {data: 'Status', header: true}, {data: 'Remote commit', header: true}]];
              for (let dir of dirs) {
                [local_hash, remote_hash, status, remote] = await repo_info(dir)
                let url = getCommitUrl(remote_hash, remote);
                let package_name = path.basename(dir);
                info_table.push([package_name, local_hash, status, `<a href="${url}">${remote_hash.slice(0,7)}</a>`]);
              }
              return info_table;
            }

            await core.summary.clear();
            let packages_table = await generateGitInfoTable(workdir);
            packages_table = core.summary.addTable(packages_table).stringify();
            await core.summary.clear();
            
            [upstream_local_hash, upstream_remote_hash, upstream_status, upstream_remote] = await repo_info(upstreamDir)
            const upstream_url = getCommitUrl(upstream_remote_hash, upstream_remote);

            const exec_path = path.join(upstreamDir,'build','exec');
            const compiler_version = (await myExec(`${exec_path}`,["clang","--version"])).split('\n')[0];
                        
            core.summary
              .addRaw(`mpv-winbuild-cmake: ${upstream_status} (remote:<a href="${upstream_url}">${upstream_remote_hash.slice(0,7)}</a>)`,true)
              .addRaw(`Compiler: ${compiler_version}`,true);
            await core.summary.addDetails('Packages Version',packages_table).write();

  publish_release:
    name: Publish release
    needs: [build_mpv]
    if: ${{ inputs.release == true }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts
          pattern: 'mpv*'
      - name: Check artifacts
        uses: actions/github-script@v8
        with:
          script: |
            const globber = await glob.create(`artifacts/mpv*.7z`);
            const files = await globber.glob();
            if ( files.length == 0 ) {
              core.setFailed("Artifact does not exist!");
            }
      - name: Get current time
        run: |
          echo "long_time=$(date "+%Y-%m-%d %H:%M")" >> $GITHUB_ENV
          echo "tag_name=$(date "+%Y-%m-%d")"  >> $GITHUB_ENV
      - name: Commit version & remove existing tag
        env:
          tag_name: ${{ env.tag_name }}
          GH_TOKEN: ${{ github.token }}
        run: |
          git fetch --tags
          git checkout version || git checkout -b version origin/version || ( git checkout --orphan version && git rm -rf . )
          echo -e "${tag_name}" > version
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add version
          git diff-index --quiet HEAD || ( git commit -m "${tag_name}" && git push origin version )
          if [ $(git tag -l "${tag_name}") ] ;then
            gh release delete "${tag_name}" || true
            git push --delete origin "${tag_name}" || true
            git tag -d "${tag_name}" || true
          fi
          git checkout main
      - name: Generate release note
        id: note
        uses: actions/github-script@v8
        with:
          script: |
            let note = ``;
            note+="**Build Time**: ${{ env.long_time }}\n";
            note+="**Build Details**: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}\n";
            core.setOutput("note",note);
      - name: Delete previous mpv release and tag
        env:
          GH_TOKEN: ${{ github.token }}
        run:  |
          gh release delete mpv --cleanup-tag || true
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "artifacts/mpv*.7z"
          commit: version
          name: "mpv"
          body: "${{ steps.note.outputs.note }}"
          tag: "mpv"
          allowUpdates: true
          artifactErrorsFailBuild: true
          prerelease: false
          makeLatest: true
      - name: Attest
        uses: actions/attest-build-provenance@v3
        continue-on-error: true
        with:
          subject-path: 'artifacts/*.7z'
      - name: Prune old releases
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          git checkout main
          bash prunetags.sh
