name: toolchain
run-name: "${{ inputs.run_name != '' && format('{0} ({1})', inputs.run_name, inputs.compiler) || format('{0} ({1})', github.workflow, inputs.compiler) }}"

on: 
  # schedule:
  #   - cron:  '0 12 * * *'
  workflow_dispatch:
    inputs:
      build_target:
        description: "Build target"
        required: false
        default: "64bit"
        type: choice
        options:
        - 64bit
      compiler:
        required: false
        default: "clang"
        type: choice
        options:
        - clang
      no_save_cache:
        description: "Don't save caches after success build"
        required: false
        default: false
        type: boolean
      trigger_build:
        description: "Trigger mpv build action after success build"
        required: false
        default: false
        type: boolean
      release:
        description: "Publish a release"
        required: false
        default: false
        type: boolean
      run_name:
        description: 'The name displayed in the list of workflow runs'
        required: false

jobs:
  build:
    name: Build Toolchain
    runs-on: ubuntu-latest
    outputs:
      cache_suffix: ${{ steps.suffix.outputs.cache_suffix }}
    continue-on-error: true

    steps:
      - name: Generate cache suffix
        id: suffix
        run: |
          cache_suffix="$(date "+%Y-%m-%d")-${{ github.run_id }}-${{ github.run_attempt }}"
          echo "cache_suffix=$cache_suffix" >> "$GITHUB_OUTPUT"
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y libmimalloc-dev
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global pull.rebase true
          git config --global rebase.autoStash true
          git config --global fetch.prune true
      - uses: actions/checkout@v6

      - name: Checkout toolchain
        uses: actions/checkout@v6
        with:
          repository: shinchiro/mpv-winbuild-cmake
          path: mpv-winbuild-cmake
          fetch-depth: 0

      - name: Restore llvm cache
        if: ${{ inputs.compiler =='clang' }}
        uses: actions/cache/restore@v4.3.0
        with: 
          fail-on-cache-miss: true
          path: |
            mpv-winbuild-cmake/clang_root
          key: llvm-${{ steps.suffix.outputs.cache_suffix }}
          restore-keys: |
            llvm-

      - name: Build Clang Toolchain
        uses: ./action/build_toolchain
        if: ${{ inputs.compiler =='clang' }}
        with:
          compiler: "clang"
          command: "ninja -C $buildroot/build rebuild_cache && cmake --build $buildroot/build --target llvm-download && ninja -C $buildroot/build llvm-clang"

      - name: Save Toolchain Cache
        if: ${{ inputs.no_save_cache != true }}
        uses: actions/cache/save@v4.3.0
        with:
          path: ${{ github.workspace }}/mpv-winbuild-cmake/build
          key: toolchain-${{ inputs.compiler }}-build-${{ steps.suffix.outputs.cache_suffix }}

      - name: Save clang_root cache
        if: ${{ inputs.compiler =='clang' && inputs.no_save_cache != true }}
        uses: actions/cache/save@v4.3.0
        with: 
          path: ${{ github.workspace }}/mpv-winbuild-cmake/clang_root
          key: clang_root-${{ steps.suffix.outputs.cache_suffix }}

      - name: Collect logs
        if: ${{ always() }}
        run: |
          sudo 7z a logs.7z $(find mpv-winbuild-cmake -type f -iname "*-*.log" -or -wholename "*/ffbuild/config.log")
      - name: upload logs
        uses: actions/upload-artifact@v5
        if: ${{ always() }}
        with:
          name: logs
          path: logs.7z

  rust:
    name: Install Rust Toolchain
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name: Install Dependencies
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global pull.rebase true
          git config --global rebase.autoStash true
          git config --global fetch.prune true
      - uses: actions/checkout@v6

      - name: Checkout toolchain
        uses: actions/checkout@v6
        with:
          repository: shinchiro/mpv-winbuild-cmake
          path: mpv-winbuild-cmake
          fetch-depth: 0

      - name: Install Rust Toolchain
        uses: ./action/build_toolchain
        with:
          bit: "64"
          command: "ninja -C $buildroot/build$bit rustup && ninja -C $buildroot/build$bit cargo-clean"

      - name: Save Rust Cache
        if: ${{ inputs.no_save_cache != true }}
        uses: actions/cache/save@v4.3.0
        with:
          path: ${{ github.workspace }}/mpv-winbuild-cmake/install_rustup
          key: rust-${{ needs.params.outputs.cache_suffix }}

  trigger:
    needs: [build,rust]
    if: ${{ always() && inputs.trigger_build != false && !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') }}
    runs-on: ubuntu-latest
    permissions:
      actions: write

    steps:
      - name: Trigger mpv build workflow
        uses: actions/github-script@v8
        with:
          retries: 3
          script: |
            let build_target=new Set();
            const release = ${{ inputs.release }};
            const targets = {"build":"64bit"}
            const repo="${{github.repository}}".split('/')[1];
            const cache_suffix="${{ needs.build.outputs.cache_suffix }}";
            const cache = await github.rest.actions.getActionsCacheList({
              owner: '${{github.repository_owner}}',
              repo,
              ref: '${{github.ref}}',
              key: 'toolchain-${{ inputs.compiler }}-',
              sort: 'created_at',
              per_page: 20,
            })
            if(cache?.data?.actions_caches){
              let success=cache.data.actions_caches.filter((i) => i.key.endsWith(cache_suffix));
              for(const i of success){
                for(const [key, value] of Object.entries(targets)){
                  if (i.key.includes(key)) {
                    build_target.add(value);
                    core.info(`Found success ${value} build cache: ${i.key}.`)
                    break;
                  }
                }
              }
            }
            if(build_target.size>0){
              for (const t of build_target){
                await github.rest.actions.createWorkflowDispatch({
                  owner: '${{github.repository_owner}}',
                  repo,
                  ref: '${{github.ref}}',
                  workflow_id: 'mpv.yml',
                  inputs: {
                    build_target: t,
                    compiler: "${{ inputs.compiler }}",
                    needclean: true,
                    release: release,
                    run_name: `CI Build: ${t} toolchain cache update`
                  }
                })
              }
            } else {
              core.setFailed("Don't find any success build cache");
            }
